body {
	background-color: #33B0FF;
}
header {
	width: auto;
	height: 100px;
	background-color: black;
	color: white;
	font-family: cambria;
	text-align: center;
}
h2 {
	background-color: black;
	color: white;
	font-family: cambria;
	text-align: center;
}
bio {
	font-family: cambria;
	color: white;	
}
edu {
	font-family: cambria;
	color: white;
}
project {
	font-family: cambria;
	color: white;
}
resume {
	font-family: cambria;
	color: white;
}
.photos {
	width: auto;
	height: 300px;
	background-color: #1F587D;
}
.photos img {
	width: 20%;
	height: auto;
}
p {
	font-family: cambria;
	color: white;
}